@import url('variables.css');

body {
    background-color: var(--secondary-beige);
    color: var(--dark-blue);
}

.report-detail {
    background-color: var(--dark-blue);
    color: var(--secondary-beige);
    padding: 5px 10px;
    border-radius: 5px;
}

.link {
    color: var(--secondary-beige);
}

.link:hover {
    color: var(--primary-yellow);
}

.butt {
    background-color: var(--dark-blue);
    color: var(--secondary-beige);
}

.butt:hover {
    background-color: var(--light-blue);
    color: var(--secondary-beige);
}

