@import url('variables.css');

body {
    background-color: var(--secondary-beige);
    color: var(--dark-blue);
}

.divColor{
    background-color: var(--dark-blue);
}

.table {
  color: var(--secondary-beige); 
  border-color: var(--secondary-beige); 
  background-color: var(--dark-blue); 
}

.table thead th {
  color: var(--secondary-beige); 
  background-color: var(--dark-blue); 
  border-color: var(--secondary-beige); 
}

.table tbody td {
  color: var(--secondary-beige); 
  border-color: var(--secondary-beige); 
  background-color: var(--dark-blue); 
}

.table tbody th {
  color: var(--secondary-beige); 
  border-color: var(--secondary-beige); 
  background-color: var(--dark-blue); 
}

.table tbody tr:nth-child(even) {
  background-color: var(--dark-blue);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--dark-blue);
}

.button {
    background-color: var(--dark-blue);
    border: none;
    color: white;
    text-align: center;
    padding:5px 10px;
    border-radius:5px;
    margin-left: 5px;
  }

  .button:hover {
    background-color: var(--light-blue);
  }

  .input {
    padding: 5px 10px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius:5px;
  }

.form-field {
  background-color: var(--dark-blue);
  color: var(--secondary-beige);
  }
  .form-field:hover {
      background-color: var(--dark-blue);
      color: var(--secondary-beige);
  }
  .form-field:focus {
      background-color: var(--dark-blue);
      color: var(--secondary-beige);
  }