{% extends 'whistleblower_site/base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../../static/whistleblower_site/report.css">
{% if 'admin' in user_groups %}
    <div class="report-detail">
        <h1>Report Details</h1>
        <div>
            {% if report.anonymous_account %}
                <strong>The report was submitted anonymously</strong>
            {% else %}
                <strong>
                    Full Name:
                </strong>
                {{ report.first_name }} {{ report.last_name }}
                <strong> | Email:</strong> 
                {{ report.email }}
            {% endif %}
        </div>
        <div>
            <strong>Organization Title:</strong> {{ report.organization }}
        </div>
        <div>
            <strong>Date Of Event:</strong> {{ report.date|date:"D, d M Y H:i" }}
        </div>
        <div>
            <strong>Location:</strong> {{ report.location }}
        </div>
        <div>
            <strong>Description of Event:</strong> {{ report.description }}
        </div>
        <div>
            <strong>
                Status: 
            </strong>
            {% if report.status == 'in_progress' %}
                In Progress
            {% elif report.status == 'resolved' %}
                Resolved
            {% else %}
                New
            {% endif %} 
        </div>
        <div>
            <strong>Admin Notes:</strong> {% if report.admin_notes %}{{ report.admin_notes }}{% else %}N/A{% endif %}
        </div>
        {% if report.report_files.all %}
            <div>
                <strong>File(s):</strong>
            {% for file in report.report_files.all %}
                <a href="{% url 'orgreport:download_file' file.filename %}" class="link">{{ file.filename }}</a>
            {% endfor %}
            </div>
        {% else %}
            <div>
                <strong>File:</strong> N/A
            </div>
        {% endif %}
    </div>
    <div class="update-report">
        <form method="post" class="update-form mt-3">
            {% csrf_token %}
            <div class="form-group">
                <label for="status">Status:</label>
                <select id="status" name="status" class="form-control form-field">
                    <option value="in_progress" {% if report.status == 'in_progress' %}selected{% endif %}>In Progress</option>
                    <option value="resolved" {% if report.status == 'resolved' %}selected{% endif %}>Resolved</option>
                </select>
            </div>
            <div class="form-group">
                <label for="admin_notes">Admin Notes:</label>
                <textarea id="admin_notes" name="admin_notes" class="form-control form-field" rows="4">{{ report.admin_notes }}</textarea>
            </div>
            <button type="submit" class="btn butt2 mt-3">
                Update Report
            </button>
            <a href="{% url 'orgreport:s3_folder_view' %}" class="btn butt2 mt-3">
                    Return to Reports
            </a>
        </form>
    </div>
{% else %}
    <div class="alert alert-danger" role="alert">
        You do not have permission to view this content.
    </div>
{% endif %}
{% endblock %}